.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
user_guide_src/
system/
up/
salvage/
oekaki/
application/vendor/
application/helpers/index.html
application/hooks/index.html
application/language/index.html
composer.lock
composer.phar
contributing.md
DCO.txt
default_page.png
index.php
license.txt
readme.rst
.well-known/
application/index.html
application/cache/.htaccess
application/cache/index.html
application/config/index.html
application/controllers/index.html
application/core/index.html
application/libraries/index.html
application/third_party/index.html
application/models/index.html
application/views/index.html
application/logs/index.html
application/views/errors/
application/language/english/index.html
blog/.htaccess
