{# ベースとなるテンプレートを継承 #}
{% extends "template.twig" %}

{% block content %}

    <h2>まんがおきばについて</h2>

    <h2>ざっくり</h2>
    <ul>
        <li>エロＯＫ、商用ＯＫ、マルチＯＫ</li>
    </ul>

    <h2>理念</h2>
    <ul>
        <li>作家第一</li>
    </ul>

    <h2>利用ガイドライン</h2>
    <ul>
        <li>
            全般
            <ul>
                <li>利用料金は無料</li>
                <li>自作または権利者の許諾のある漫画作品をアップロードできます。「漫画」の定義は利用者の解釈に委ねます。</li>
                <li>自サイト登録可能（コメントフォームと、まんがおきばへのリンク掲載をお願いします）</li>
                <li>アダルトＯＫ　日本の法律で許される最低限の修正は入れてください</li>
            </ul>
        </li>
        <li>
            新都社連携について
            <ul>
                <li>新都社と別サービスですが、新都社のシステム開発担当スタッフが運営しており、新都社の自サイトとして運用するための便利機能を備えます。</li>
                <li><a href="http://neetsha.jp/guideline.php" target="_blank">新都社の利用規約</a>に準拠する。</li>
                <li>新都社アップロード禁止のアダルト作品をアップロードして、新都社の自サイトとして利用できます。</li>
                <li>まんがおきばトップページの作品一覧には表示されません。</li>
                <li>コメントは新都社に蓄積されます。</li>
                <li>新都社の利用規約に違反している作品は、運営者権限により、新都社連携を解除する場合があります。</li>
            </ul>
        </li>
        <li>
            新都社連携しない場合
            <ul>
                <li>マルチポストＯＫ　他で掲載しているものも掲載できます</li>
                <li>商用可能　自分のアフィリエイトコードを掲載できます</li>
            </ul>
        </li>
    </ul>

    <h2>禁止事項</h2>
    <ul>
        <li>日本の法律に違反する行為</li>
        <li>新都社の規約に違反する作品の新都社連携</li>
        <li>他人に迷惑を与える行為</li>
        <li>その他、運営により不適切と判断される行為</li>
    </ul>

    <h2>新都社の自サイトとしての使い方</h2>
    <ul>
        <li>まず、まんがおきばに作品を登録してください。</li>
        <li>次に、新都社で自サイト作品として、まんがおきばの作品URL（https://manga.okiba.jp/comic/xxxxx）を登録してください。</li>
        <li>まんがおきばの作品編集画面で、新都社の作品IDを登録してください。</li>
        <li>以上で完了です。各種連携は自動で行われます。</li>
    </ul>

    <h2>収益化支援機能</h2>
    <ul>
        <li>
            DLsite
            <ul>
                <li>作者情報編集画面でDLsiteアフィリエイトIDを設定すると、作品トップと各話ページに広告が出ます</li>
                <li>アフィリエイトIDはDLsiteで申請して取得してください</li>
                <li>カスタム広告エリアの設定がある場合、そちらが優先されます</li>
            </ul>
        </li>
        <li>
            カスタム広告エリア
            <ul>
                <li>作品ページのサイド・下部に、自由にアフィリエイトの埋め込みコードやブログパーツなど設置できます。</li>
                <li>アフィリエイトコードはDLsite, FANZA, Amazon など各種サイトで申請して取得してください</li>
            </ul>
        </li>
    </ul>

    <h2>運営者</h2>

    <ul>
        <li><a href="https://twitter.com/kituneponyo" target="_blank">きつねこ</a></li>
    </ul>

    {#<h2>リンクなど</h2>#}

    {#<ul>#}
        {#<li><a href="http://jhnet.sakura.ne.jp/piasunet/" target="_blank">創作系検索サイト ぴあすねっとNAVI</a></li>#}
    {#</ul>#}

{% endblock %}
